<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="How HTML forms work">
    <meta name="keywords" content="html forms">
    <title>HTML FORMS</title>
</head>

<body>
    <header>
        <h1>Different types of HTML forms.</h1>
    </header>
    <hr>
    <main>
        <article>
            <h2>Contact us.</h2>
            <p><b>We like to hear from you!</b></p>
            <form action="https://httpbin.org/get" method="get" target="_blank">
                <fieldset>
                    <legend>Personal info</legend>

                    <p>
                        <label for="firstName">First Name</label>
                        <input type="text" name="firstName" id="firstName" placeholder="Walter" autocomplete="on"
                            required autofocus>
                    </p>
                    <p>
                        <label for="lastName">Last Name</label>
                        <input type="text" name="lastName" id="lastName" placeholder="Bruce" autocomplete="on" required>
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="your secret" required>
                    </p>
                    <p>
                        <label for="phoneNumber">Phone Number</label>
                        <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="1234567890" autocomplete="on"
                            pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                    </p>
                    <p>
                        <label for="decade">Your decade</label>
                        <input type="number" name="decade" id="decade" min="1960" max="2020" step="10" value="1990">
                    </p>
                    <p>
                        <label for="cofee">Cofee</label>
                        <select name="cofee" id="cofee" size="5" multiple>
                            <optgroup label="Coffees">
                                <option value="regular cofee">Regular cofee</option>
                                <option value="black cofee">Black cofee</option>
                                <option value="iced cofee" selected>Iced cofee</option>
                            </optgroup>
                            <optgroup label="Special drinks">
                                <option value="latte">Latte</option>
                                <option value="cappuccino">Cappuccino</option>
                                <option value="cortado">Cortado</option>
                                <option value="americano">Americano</option>
                            </optgroup>
                            <option value="other">Other</option>
                        </select>
                    </p>
                    <!-- The <datalist> element specifies a list of pre-defined options for an <input> element.
Users will see a drop-down list of the pre-defined options as they input data.
The list attribute of the <input> element, must refer to the id attribute of the <datalist> element. -->
                    <p>
                        <label for="drinks">Drinks</label>
                        <input type="text" name="drinks" id="drinks" list="drinks-list">
                        <datalist id="drinks-list">
                            <!-- <optgroup> does'nt work here  -->
                            <option value="Beer">
                            <option value="Wine">
                            <option value="Red Wine">
                            <option value="Cocacola">
                            <option value="Sprite">
                            <option value="Pepsi">
                            <option value="Miranda">
                            <option value="Mineral Water">
                        </datalist>
                    </p>
                </fieldset>
                <br><br>
                <!--
                The "for" attribute of the <label> tag should be equal to the "id" attribute of the <input> element to bind them together. for==id

                The name attribute specifies that the radio button is part of a group of radio buttons with the "same name". The id attribute matches the ID of the label. The value attribute specifies the value that will be submitted when the radio button is selected.
            -->
                <fieldset>
                    <legend>What is your favourite food?</legend>
                    <p>
                        <label for="pizza">Pizza</label>
                        <input type="radio" name="food" id="pizza" value="pizza" checked>
                    </p>
                    <p>
                        <label for="pasta">Pasta dishes</label>
                        <input type="radio" name="food" id="pasta" value="pasta">
                    </p>
                    <p>
                        <label for="sandwiches">Sandwiches</label>
                        <input type="radio" name="food" id="sandwiches" value="sandwiches">
                    </p>
                    <p>
                        <label for="vegetarian">Vegetables and vegetarian dishes</label>
                        <input type="radio" name="food" id="vegetarian" value="vegetarian">
                    </p>
                    <p>
                        <label for="soups">Soups and stews</label>
                        <input type="radio" name="food" id="soups" value="soups">
                    </p>
                    <p>
                        <label for="burrito">Burrito</label>
                        <input type="radio" name="food" id="burrito" value="burrito">
                    </p>
                    <p>
                        <label for="cheeseburger">Cheeseburger</label>
                        <input type="radio" name="food" id="cheeseburger" value="cheeseburger">
                    </p>
                    <p>
                        <label for="otherFood">Other</label>
                        <input type="radio" name="food" id="otherFood" value="otherFood">
                    </p>
                </fieldset>
                <br>
                <fieldset>
                    <legend>Do you have a pet?</legend>
                    <p>
                        <label for="dog">Dog</label>
                        <input type="checkbox" name="Pests" id="dog" value="dog" checked>
                    </p>
                    <p>
                        <label for="cat">Cat</label>
                        <input type="checkbox" name="Pests" id="cat" value="cat">
                    </p>
                    <p>
                        <label for="fish">Fish</label>
                        <input type="checkbox" name="Pests" id="fish" value="fish">
                    </p>
                    <p>
                        <label for="bird">Bird</label>
                        <input type="checkbox" name="Pests" id="bird" value="bird">
                    </p>
                    <p>
                        <label for="rabbit">Rabbit</label>
                        <input type="checkbox" name="Pests" id="rabbit" value="rabbit">
                    </p>
                    <p>
                        <label for="cattle">Cattle</label>
                        <input type="checkbox" name="Pests" id="cattle" value="cattle">
                    </p>
                    <p>
                        <label for="otherPet">Other</label>
                        <input type="checkbox" name="Pests" id="otherPet" value="otherPet">
                    </p>
                </fieldset>
                <br>
                <fieldset>
                    <legend>Send us a message.</legend>
                    <label for="message">What is your message?</label>
                    <br> <!--try once without linebreak-->
                    <textarea name="message" id="message" cols="60" rows="10"
                        placeholder="Write your message here."></textarea>
                </fieldset>
                <br><br>
                <button type="submit" onclick="alert('Sure to submit?')">Submit</button>
                <button type="submit" formaction="https://httpbin.org/post" formmethod="post">Post</button>
                <!-- https://www.w3schools.com/html/html_form_attributes_form.asp -->
                <button type="reset">Reset</button>
            </form>
        </article>
    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <footer>
        <p>&copy; No Copyright. This website is free and open source.</p>
        <a href="#top">Back to top</a>
    </footer>
</body>

</html>